<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key="BladeUIHostURL" value="http://opus" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClientUrl" value="http://opus:4021/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BritCacheUrl" value="http://BritCache.wren.co.uk:8844/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PeerReviewApiUrl" value="http://opusbe:9876/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DeploySpecRunner" value="NO" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UserPreferenceServiceUrl" value="http://opusbe:9811/api/UserPreferenceService/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PreferenceTypeId" value="111" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Publish_Filter-ADGroup" value="Sec-PeerReview_Publish_Users" xdt:Locator="Match(key)"/>
    <add key="IgnisUrl" value="http://localhost:6565/api/excel" xdt:Locator="Match(key)"/>
    <add key="IgnisEnvironmentName" value="Ignis" xdt:Locator="Match(key)"/>
    <add key="EnableIgnisLink" value="YES" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>